html
{
	background: #CDCDCD url(standardBG.jpg) no-repeat top left;	
	background-attachment: fixed;
}

html body
{
	background-color: #CDCDCD;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
	height: 100%;
}

html body h1
{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 34px;
	font-weight: bold;
	color: #000 !important;
	margin: 0px;
	word-spacing: normal !important;
}
h2
{
	font-size: 18px;
	font-weight: normal;
	color: #000;
	margin: 0px;
}
h3
{
	font-size: 14px;
	font-weight: bold;
	color: #5f5f5f;
	margin: 0px;
	margin-bottom: 10px;
}

p
{
	margin-bottom: 10px;
}

.ati_Form_Button
 {
 	width: 127px;
 	height: 29px;
 	text-align: center;
 	background: url(buttonLow.png) no-repeat top left;
 	border: 0;
 	background-color: Transparent; 	
 }
 
  .ati_Form_Button:HOVER
 {
 	width: 127px;
 	height: 29px;
 	text-align: center;
 	background: url(buttonHi.png) no-repeat top left;
 	border: 0;
 	background-color: Transparent;
 	color: White;
 }


.RadMenu   
{  
    text-align:right;  
    float:right !important;  
} 

#ati_topBanner
{
	height: 65px;
	width: 100%;
}
#ati_topBannerLeft
{
	width: 20px;
	background: url(topBannerLeft.png) no-repeat top right;
}
.ati_topBannerSpan
{
	background: url(topBannerSpan.png) repeat-x top left;
}
#ati_topBannerRight
{
	width: 20px;
	background: url(topBannerRight.png) no-repeat top left;
}
.ati_hSpacer
{
	font-size: 1px;
	height: 10px;
}
#ati_sitePanel
{
	position: relative;
	z-index: 100;
}
#ati_main
{
	width: 100%;
}
#ati_standard_TopSpace
{
	height: 18px;
	text-align: right;
	padding-right: 17px;
	padding-bottom: 2px;
}
#ati_mainTopLeft
{
	width: 20px;
	height: 15px;
	background: url(atiTopLeft.png) no-repeat top right;
}
#ati_mainTopSpan
{
	height: 15px;
	background: url(atiTop.png) repeat-x top left;	
}
#ati_mainTopRight
{
	width: 20px;
	height: 15px;
	background: url(atiTopRight.png) no-repeat top left;
}
#ati_mainLeft
{
	width: 20px;	
	background: url(atiLeft.png) repeat-y top right;
}
#ati_mainRight
{
	width: 20px;
	background: url(atiRight.png) repeat-y top left;
}
#ati_mainCenter
{
	background-color: white;
	padding-top: -10px;
}

#ati_mainBottomLeft
{
	width: 20px;
	height: 27px;
	background: url(atiBottomLeft.png) no-repeat top right;
}
#ati_mainBottomSpan
{
	height: 27px;
	background: url(atiBottom.png) repeat-x top left;
}
#ati_mainBottomRight
{
	width: 20px;
	height: 27px;
	background: url(atiBottomRight.png) no-repeat top left;
}
#ati_sidePanel
{
	width: 194px; 
	/*padding-right: 14px;
	background: url(atiSidePanel.png) repeat-y top right;*/
}

.ati_bottomInfo
{
	padding-right: 17px;
	padding-left: 17px;
}


div.atiSideContainer
{
	width: 100%;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding-bottom: 8px;
}
div.atiSideContainer span
{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	/* https://developer.mozilla.org/en/CSS/-moz-linear-gradient */
	background: -moz-linear-gradient(-90deg, #FFF, #EEE);
	/* http://msdn.microsoft.com/en-us/library/ms532997%28VS.85,loband%29.aspx */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='false',startColorstr=#FFF, endColorstr=#EEE);		
	display: block;
	background-color: #eeeeee;
	font-weight: bold;
	padding-left: 8px;
	line-height: 22px;
	margin-bottom: 8px;
}

ul.linksList
{
	width: 100%;	
}
ul.linksList li
{
	border-bottom: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
}
ul.webList li
{
	padding-right: 8px;
	border: 0;       
   	display: inline;       
}

.ati_standardSpan
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
	text-align: justify;
   
}
.ati_standard_lightTxt
{
	color: #989898;
}
.ati_standard_LoginRegister {
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
	text-align: justify;
    color: #898989;
}
.ati_topBannerSpan img
{
	padding-top: 12px;
}

.atiArrowHi
{
	padding-left: 30px;
	height: 24px;
	background: url(arrowHi.png) no-repeat top left;
}
.atiArrowLow
{
	padding-left: 30px;
	height: 24px;	
	background: url(arrowLow.png) no-repeat top left;
}
.atiStepHi
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 10px;
    border-right: dashed 1px #AAAAAA;
    color: Black;
    width: 20%;
}
.atiStepTrackHi
{
	font-size: 1px;
	background: url(stepTrackHi.png) repeat-x top left;
	height: 11px;    
}
.atiStepTrackLow
{
	font-size: 1px;
	background: url(stepTrackLow.png) repeat-x top left;
	height: 11px;    
}
.atiStepLow
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 10px;
    border-right: dashed 1px #AAAAAA;
    color: #CCCCCC;
    width: 20%;
}

div.loadingPanel
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #666;
	color: #000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

/*******************************/
/* CA - Form stling
/*******************************/
.trans80 {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.trans50 {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.atiFormPanel ol li
{
	list-style-type: none;
}
.atiFormPanel fieldset {
  font: 11px sans-serif;
  border: 0;
}

.atiFormPanel label {
  float: left;
  width: 200px;
  margin-right: 5px;
  padding-top: 8px;
  text-align: right;
  font-weight: bold;
}
.atiFormPanel .instruction
{
	padding-left: 205px;	
	display: block;	
}
#atiCaptchaRow
{
	position: relative;
	top: -15px;
    margin-left: 205px;	
    display: block;
}
#atiCaptchaRow .txtBlock
{
	position: relative;
	top: -10px;
	padding-left: 0px;
	margin-left: 0px;
	display: block;
	
}
#atiCaptchaRow .ati_Form_TextBox
{
	display: block;
}

/*******************************/
/*  Panes Style                */
/*******************************/
.panes-outer { width: 100%; padding-left: 0px; padding-right: 0px; padding-top: 15px; padding-bottom: 15px; }
.Content-Pane { width: 100%; padding-left: 0px; padding-right: 0px;	padding-top: 0px; }
.Top-Left-Pane { padding-right: 6px; }
.Top-Right-Pane { width: 70%; padding-left: 6px; }
.Left-Pane {  }
.Middle-Pane { padding: 0px; }
.Right-Pane { padding-left: 0px; padding-right: 0px; padding-top: 0px; } 
.Center-Pane {padding-left: 0px; padding-right: 0px;	padding-top: 0px; }
.Main-Left-Pane { padding-left: 0px; padding-right: 6px;	padding-top: 0px; }
.Main-Middle-Pane { padding-left: 6px; padding-right: 6px; padding-top: 0px; }
.Main-Right-Pane { padding-left: 6px; padding-right: 0px; padding-top: 0px; } 
.Bottom-Pane { width: 100%; padding-left: 0px; padding-right: 0px; padding-top: 0px; }
.Bottom-Left-Pane { width: 50%;	padding-right: 6px; }
.Bottom-Right-Pane { width: 50%; padding-left: 6px; }




